<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeManagement.DataBase.Properties.Settings.HRMSConnectionString"
            connectionString="Data Source=DESKTOP-U2DB4HD;Initial Catalog=HRMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>